<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment::head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>归档</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/my.css}" href="../static/css/my.css"/>
    <link rel="icon" href="../static/images/material/favicon.ico" th:href="@{/images/material/favicon.ico}">
</head>
<body>
<!-- 导航 -->
<nav th:replace="_fragment :: menu(3)" class="ui segment m-padded-tb-mini"></nav>

<!-- 中间内容 -->
<div class=" m-container m-padded-tb-large">
    <div class="ui container">
        <!-- 头 -->
        <div class="ui top attached padded segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">归档</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${competitionCount}"> 14 </h2> 篇
                </div>
            </div>
        </div>

        <th:block th:each="item:${archiveMap}">
            <h2 class="ui center aligned header" th:text="${item.key}">2020</h2>
            <div class="ui vertical fluid menu">
                <a href="#" th:href="@{/competition/{id}(id=${competition.id})}" target="_blank" class="item" th:each="competition:${item.value}">
						<span>
							<i class="mini teal circle icon"></i><span th:text="| ${competition.title}|">英语四级考试</span>
							<div class="ui teal basic left pointing label m-padded-tb-mini" th:text="${#dates.format(competition.createTime,'MM-dd')}">8月18</div>
						</span>
                    <div class="ui basic orange label m-padded-tb-mini"><span th:text="${competition.type.name}">等级考试</span></div>
                </a>
            </div>
        </th:block>

    </div>
</div>
<br>
<br>

<!-- 底部 -->
<footer th:replace="_fragment :: footer"  class="ui inverted vertical segment m-padded-tb-large-half"></footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    /* 通过按钮中的class值定位到按钮 */
    $('.menu.toggle').click(function () {
        /* 点击去除m-mobile-hide样式 */
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>
</body>
</html>
